@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Comfortaa', sans-serif;
}
header {
    width:100%;
    background-color: #9acd32;
    min-height: 200px;
    color:ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
    
nav {
    background-color:slategrey;
    display: flex;
    justify-content: center;
    
}
.nav_container {
    display: flex;
    min-height: 50px;
    width: 960px;
    justify-content: space-between;
    align-items: center; 
}

#main_nav {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    padding: 0;
    margin: 0;
}

#main_nav>li {
    display: flex;
    align-content: space-between;
    margin-right: 40px;;
}

#main_nav>li>a {
    text-decoration: none;
    color:ghostwhite;
}

#main_nav>li>a:hover {
    color:#9acd32;
    font-weight: bold;
}


.login_form>input {
    border-radius: 25px;
    padding-left:10px;
    height: 25px;
}

.login_form>input:focus {
    outline: none;
    background-color: #9acd32;
}

.container {
    width:960px;
    margin: auto;
}

.container>h1 {
    font-weight: 700;
}

.subtitile {
    color:darkgrey;
    font-size: 0.6em;
}

.collection_container {
    display: flex;
    justify-content: center;
    align-content:center;

}

.collection {
    display: flex;
    justify-content: space-between;
    border-top: 2px darkgray solid;
    padding-top: 10px;
}

.collection_item {
    width: 30%;
    border: 2px darkgray solid;
}

.collection_item>h2, .collection_item>p {
    padding:0 0 10px 15px;
} 

.collection_item>h2 {
    color:#9acd32
}

.collection_item>button {
    margin: 0 0 15px 15px;
    border:none;
    padding:15px;
    border-radius: 10px;
}

.collection_item>button:hover {
    background-color: #9acd32;
    color:ghostwhite;
    cursor: pointer;
}

footer {
    margin-top: 15px;
    background-color: #9acd32;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:ghostwhite;
}










