@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Загальні стилі */
.active_link {
    -webkit-text-stroke: 1px #3C2CCE;
    font-weight: bold;

}

body {
    background-color: #EEE6CA;
    font-family: 'Open Sans', sans-serif;
}

/* Стилі заголовка */

.mobile-menu {
    display: none;
}

header {
    min-height: 235px;
    margin:0 30px;
    border-bottom: 1px black solid ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
}

.hamburger {
    display: none;
}

#logo  {
    display: flex;
}

ul {
    margin:0;
    padding: 0;
    list-style-type: none;
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-indent: 100px;
}

li {
    display: flex;
    justify-content: space-around;
}

ul>li>a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000 ;
    font-size: 30px;
    font-weight: 400;
}

/* Стилі основної частини */

main {
   margin: 0 30px 30px 30px;
}

main>h1 {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}

main>p {
    font-size: 25px;
    font-weight: 400;
}

main>div {
    width: 940px;
    margin: auto;
}

main>div>img {
   border-radius: 50px;
}

/* Стилі підвалу */

footer {
    min-height: 280px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;  
}

.footer {
    text-align: center;
}

#adress {
    font-weight: 300;
    font-size: 25px;
}

#copyright {
    font-family:'Caveat', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#phone  {
    font-size: 40px;
    font-weight: 600;
}

#mail, #mail>a   {
    color:black;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
}

#social, #social>a {
    font-size: 50px;
    text-decoration: none;
    margin:0;
}

#social>a>i {
    color: #000;
    }
    
    
#social>a>i:hover {
color: #EEE6CA;
}




@media only screen and (max-width: 1670px)  {
    header {
        display: flex;
        justify-content: space-between;
    }
    
    
    nav {
        display: none;
    }
    
    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        gap: 50px;
    }

    .hamburger>a>i {
        color: #000;
    }

        /* Стилі для відображення/приховування випадаючого меню */
    .mobile-menu {
        display: none;
        position: fixed;
        top: 235px;
        left: 0px;
        background-color: rgba(100, 100, 100);
        width: 100%;
        gap:30px;
        height: 300px;

    }


    .mobile-menu>ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
    }

    .mobile-menu>ul>li>a {
        color:#D9D9D9;
    }

    .mobile-menu.active {
        display: flex;
}

}

@media only screen and (max-width: 1040px) {
    .img {
      width:100%;
      display: flex;
      justify-content: center;
      align-items: center;
}

    .img img {
        max-width: 100%;
        border-radius: 25px;
    }
}


@media only screen and (max-width: 930px) {
    footer {
        background-color: #D9D9D9;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap:10px;
     }

     .footer:first-child {
        padding: 0 20px;
     }

}

@media only screen and (max-width: 650px) {
    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        gap: 10px;
    }

}