@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/bg-light.jpg);
    background-repeat: repeat;
}

.container {
    width:960px;
    margin:auto;
}

header {
    min-height: 200px;
    background-color: darkslategrey;
    position: relative;
}

header img {
    width: 100px;
    margin: 20px 10px 20px 40px;
}

header div {
    color:azure;
    position:absolute;
    top:50px;
    display: inline-block;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    
}

nav {
    min-height: 30px;
    background-color: #6F798D ;
}

nav>ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    
}

nav>ul>li {
    display: inline-block;
    border: 1px azure solid;
    padding:10px;
  
}

nav>ul>li>a {
    color:azure;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav>ul>li:hover {
    background-color: azure;
}

nav>ul>li:hover a {
    color:#6F798D;
}


main {
    background-color: rgba(211, 183, 162, 0.5);
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#main_d1 {
    background-color: #0F3332;
    border:2px solid azure;
    color:azure;
    margin: 5px 10px;
    padding: 10px;
    text-align: center;
}

#main_d2 {
    background-color: #6F798D;
    border:2px solid aliceblue;
    color: aliceblue;
    margin:0 10px 10px 200px;
    min-height: 200px;
    padding: 10px;

}

#main_d3 {
    padding: 20px;
    font-size: 1.5em;
    font-weight: 600;
}


footer {
    min-height: 100px;
    background-color: #142038;
    color:azure;
    font-size: 24px;
    text-align: center;
    padding: 20px;
}

